.voteButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffd898;
    border: none;
    border-radius: 8px;
    height: 100%;

    &-icon {
        width: 12px;
        height: 12px;
        &--Up {
            transform: rotate(180deg);
        }
    }
}
